.body {
    display: flex;
    background: #f6f6f6;
    margin-top: 60px;
    height: 100%;
}

.tab0 {
    width: 30%;
    height: 100%;
}

.tab1 {
    width: 70%;
    height: 100%;
}

@media only screen and (max-width: 700px) {
    .tab0 {
        display: none;
    }
    .tab1 {
        width: 100%;
    }
}