.primary {
    font-size: 15px;
    line-height: 36px;
    text-align: start;
    letter-spacing: normal;
    fill: #ffffff;
    background: #e4b302;
    box-shadow: none;
    border-radius: 4px;
    border: none;
    color: #ffffff;
    padding-right: 15px ;
    padding-left: 15px ;
    margin-top: 10px;
}
.primary:hover{
    cursor: pointer;
    background: #fdcc1c;
}