.container {
    font-size: 14px;
    width: 220px;
    display: block;
    padding: 5px 15px;
    line-height: 36px;
    border: none;
    border-radius: 4px;
}

.dropdownItem {
    composes: container;
    transition: all 0.2s ease-in-out;
    justify-content: center;
    align-items: center;
    color: gray;
    background-color: white;
}

.dropdownItem:hover {
    cursor: pointer;
    background-color: #f6f6f6;
    color: dimgrey;
}

.label {
    display: flex;
    composes: container;
    background: white;
    font-weight: lighter;
    color: gray;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.label:hover{
    cursor: pointer;
}

.dropdownIcon {
    font-weight: bold;
}

.heading {
    font-size: 14px;
    font-weight: lighter;
    color: gray;
    margin-bottom: 5px;
}
