.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.toggleWindow {
    width: 100%;
    display: flex;
}

.toggleItem {
    transition: all 200ms;
    font-size: 14px;
    font-weight: lighter;
    color: white;
    flex: 1;
    padding: 10px;
    background: #323b49;
    margin-bottom: 20px;
    height: 40px;
    display: flex;
    align-items: center;
}

.toggleItem:hover {
    cursor: pointer;
}

.toggleItemUnselected {
    composes: toggleItem;
    background: white;
    color: #323b49;
}

.toggleItemUnselected:hover {
    background: #f6f6f6;
    color: black;
}