.inputField {
    width: 250px;
    display: block;
    padding: 5px 15px;
    color: inherit;
    font-family: inherit;
    font-size: 13px;
    font-weight: inherit;
    line-height: 36px;
    border: none;
    border-radius: 4px;
    margin-bottom: 15px;
    transition: box-shadow 200ms;
}

.inputField::placeholder {
    color: #B0BEC5;
}

.inputField:focus {
    outline: none;
    box-shadow: 0.2rem 0.8rem 1.6rem gainsboro;
}

.alert {
    width: 230px;
    transition: visibility 200ms;
    padding: 5px 10px;
    background-color: white; /* Red */
    border: solid 2px #f44336; /* Red */
    color: #f44336;
    font-size: 12px;
    margin-bottom: 15px;
    border-radius: 4px;
}

.label {
    font-size: 14px;
    font-weight: lighter;
    color: gray;
    margin-bottom: 5px;
}
