.main {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background: white;
    border-bottom: 1px solid #B0BEC5;
    justify-content: space-between;
}

.logo {
    height: 50px;
    padding-left: 20px;
}
.xcontainer {
    padding-right: 20px;
    display: none;
    cursor: pointer;
}
.xbar1, .xbar2, .xbar3 {
    width: 27px;
    height: 2px;
    background-color: #323b49;
    margin: 6px 0;
    transition: 0.3s;
}

.xbar2 {
    width: 23px;
    margin-left: 5px;
}

.xbar3 {
    width: 18px;
    margin-left: 10px;
}

.xchange .xbar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.xchange .xbar2 {
    opacity: 0;
}
.xchange .xbar3 {
    width: 27px;
    margin: 0px 0;
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-4.5px, -4.5px);
}
.toggleContainer {
    display: none;
    transition: .3s;
    top: 100%;
    right: 0;
    position: absolute;
    width: 100%;
    background-color: #282c34;
}
@media only screen and (max-width: 700px) {
    .xcontainer{
        display: inline-block;
    }
    .toggleContainer{
        display: block;
    }
}