.container {
    display: flex;
    width: 250px;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.bar {
    border-radius: 2px;
    width: 40px;
    height: 5px;
    border: .1px solid #B0BEC5;
}

.bar1 {
    composes: bar;
    background: #f44336;
    border: none;
    height: 6px;
    transition: all 200ms ease-in;
}

.bar2 {
    composes: bar1;
    background: linear-gradient(to right, red, orange);;
}

.bar3 {
    composes: bar2;
    background: orange;
}

.bar4 {
    composes: bar2;
    background: linear-gradient(to right, orange, forestgreen);
}

.bar5 {
    composes: bar2;
    background: forestgreen;
}