.tabBody {
    background: #323b49;
    height: 100%;
    width: 100%;
}

.tabItem {
    transition: all 200ms;
    padding: 10px;
    font-size: 14px;
    font-weight: lighter;
    color: white;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabItem:hover {
    background: #e4b302;
    color: black;
    cursor: pointer;
}
.faIcon{
    font-size: 15px;
    padding-right: 10px;
}
